[Librerías generadas por Unity]
[Libraries]
[Libraries]/
[Libraries]/*
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

# Archivos de usuario de Unity
*.pidb
*.suo
*.user
*.userprefs
*.csproj
*.unityproj
*.sln
*.tmp
*.svd

# Configuración de Rider y VS
.vscode/
.idea/
*.iml

# Archivos de caché y backups
sysinfo.txt
*.stackdump
*.log
*.bak
*.backup
*.swp
*.lock

# Builds finales
*.apk
*.aab
*.ipa
*.exe
*.app
*.msi

# Carpetas locales de Unity Hub
*.gradle
*.vs/
